<!--script for computer/mobile devices-->

<meta name="viewport" content="width=device-width, initial-scale=1.0">

body .main-container {
  max-width: 1280px !important;
  width: 80%;
  margin: auto;
}
body {
  max-width: 1280px !important;
  width: 80%;
  margin: auto;
}
section {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}